[buildout]
develop = .
parts = test

[versions]
zc.buildout = >= 2.0.0
zope.pluggableauth = 1.1.0
# use latest distribute; trying to downgrade causes problems on Windows
distribute =

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.authentication [test]
